#cy {
    width: 100%;
    height: 400px;
    z-index: 999;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


.toc ol {
    padding-top: 5%;
}
.toc ol li {
    counter-increment: my-counter;
    display: flex;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.8rem;
    text-align: justify;
}
.toc ol li::before {
    content: counter(my-counter);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 0.5rem;
    font-family: "Libre Baskerville";
    line-height: 0.8;
}