body{
	text-align:center;
}
body, #shuffle{

	font-size:14pt;
}
#puzzlearea{
	width:400px;
	height:400px;
	position:relative;
	margin:0px auto;
}
.piece{
	width:88px;
	height:88px;
	border:5px solid #3989C7;
    color: #3989C7;
	font-size:40pt;
	position:absolute;
	cursor:default;
	/* background-image: url(https://i.imgur.com/eMloI7C.jpg); */
}
#winner{
	color:red;
	font-weight:bold;
}